<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Contact - The Llama Store</title>
  <meta name="description" content="llama.com">
  <meta name="author" content="Michael G. Stith">

  {{> assets}}
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	{{> nav}}
	<div class="row spacer">
		<h1 class="center">About Llamas</h1>
		<div class="flex-container">
			<div class="flex-item">  
				<p>If you have questions, please e-mail me at <a href="mailto:mstith@zappos.com">mstith@zappos.com</a></p>
			</div>
		</div>
	</div>

</body>
</html>